body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fafafa;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.login-header {
  margin-bottom: 20px;
}

.login-logo {
  width: 175px;
}

.login-form {
  width: 100%;
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background-color: #fafafa;
  width: 100%;
  box-sizing: border-box;
}

.login-button {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  background-color: #0095f6;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.login-divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #dbdbdb;
}

.or {
  margin: 0 10px;
  color: #8e8e8e;
  font-weight: bold;
}

.login-facebook {
  background-color: #385185;
  color: #fff;
}

.forgot-password {
  color: #385185;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  border-radius: 8px;
}

.signup-container p {
  margin: 0;
}

.signup-container a {
  color: #0095f6;
  font-weight: bold;
  text-decoration: none;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.get-the-app p {
  margin: 0;
  color: #8e8e8e;
  font-size: 14px;
}

.app-links {
  display:inline-flex;
}

.app-store{
  width: 116px;
  height: 110px;
} 
.google-play {
  width: 136px;
  height: 80px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fafafa;
  border-top: 1px solid #dbdbdb;
  width: 100%;
  text-align: center;
}

.footer p {
  margin: 5px 0;
  color: #8e8e8e;
}

.footer a {
  color: #8e8e8e;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}
